html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
/* polygon{
    fill: #5616be;
    display: none;
} */
.titles{
    position:absolute;
    margin-top: 5%;
}
.discriptaions{
    position:absolute;
    margin-top: 17%;
    display: block;
    font-family:cursive;
    color:darkgray;
}
.btn-brand{
   width:200px;
   height:60px;
   padding:10px;
   font-size: 25px;
   font-weight: bold;
   outline-style:none;
    background-color: #34b9b9;
    color: white;
    border: none;
    outline: none;

}
.carousels-btn{
    margin-top: 28%;
    margin-right: 90%
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .titles{
        margin-top: 20%;
        color:#34b9b9;
        font-size: 50px;
        font-weight: bold;
    }
    .discriptaions{
       display: none;
    }
    .carousels-btn{
        margin-top: 45%;
        /* background-color:white ;
        color: #34b9b9; */
    }
  }
  @media only screen and (max-width: 425px) {
    /* For mobile phones: */
    .titles{
        display: none;
    }
    .discriptaions{
        position:absolute;
        margin-top: 25%;
        display: block;
        color:#34b9b9;
        font-size: 20px;
        font-weight: bold;
        font-family: cursive;
    }
    .carousels-btn{
        display: none;
    }
  }
  @media only screen and (max-width: 375px) {
    .discriptaions{
        position:absolute;
        margin-top: 25%;
        display: block;
        color:#34b9b9;
        font-size: 15px;
        font-weight: bold;
        font-family: cursive;
    }
    .carousels-btn{
        display: none;
    }
  }
  @media only screen and (max-width: 320px) {
    .discriptaions{
        position:absolute;
        margin-top: 40%;
        display: block;
        color:#34b9b9;
        font-size: 15px;
        font-weight: bold;
        font-family: cursive;
    }
    .carousels-btn{
        display: none;
    }
}