.viewService{
    background-color: #f1f8fa;
}
.price{
    color:#34b9b9
}
.tax{
    font-size: 20px;
    font-weight:400;
}
.viewService-btn{
    /* font-size: 20px; */
    width: 50%;
    height: auto;
}
.viewService-btn:hover{
    background-color: #258080;
}
.go-to-home-btn{
    text-decoration:none;
    color:white
}
.go-to-home-btn:hover{
    color:white
}