.homerepair{
    background-color: #f1f8fa;
    padding-top: 7%;
    /* padding: 7%; */
}
.homerepairCardtext{
    padding-top: 35%;
    color: black;
}
.homerepairCardtext h3{
    font-weight: 600;
    font-size: 2.25714rem;
    line-height: 1.1;
}
.homerepairCardtext h5{
    font-size: 1.38571rem;
    line-height: 1.4;

}
.homerepairCardtext p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
@media only screen and (width: 768px) {

    .homerepairImg{
     margin-top: 50%;

    }
}