.house-problem{
margin-left: 10%;
}
.house-problem h2{
    font-size: 2.57143rem;
    margin-top: 5%;
}
.phone {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1;
    color: #fed900;
    text-shadow: 0.21429rem 0.21429rem 0 #34b9b9;
}
.call-p{
    font-size: 1.14286rem;
    line-height: 1.4;
    font-weight: 700;
    color: black;
}
.description{
    font-size: 1.14286rem;
    line-height: 1.4;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}